/* Global */
*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	overflow-x: hidden;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	--spacing: calc(1% + 1rem);
	--padding: calc(var(--spacing) * 1.5) var(--spacing);
	--purple: #20123a;
	--pink: #FD4C94;
	--white: #fff;
	--black: #000000;
	--blue: #62cddf;
	--color-green-20: #b3ffe3;
	--color-highlight: #FFE8DE;
	--gray: #999999;
	--zilla: "Zilla Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-family: 'interregular', sans-serif;
	font-weight: 300;
	font-size: 18px;
	width: 100%;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	margin: 0;
}

/* Typography */
@font-face {
	font-family: 'intermedium';
	src: url('fonts/inter-medium.woff2') format('woff2'),
		url('fonts/inter-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'interregular';
	src: url('fonts/inter-regular.woff2') format('woff2'),
		url('fonts/inter-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3 {
	font-family: var(--zilla);
}

p {
	line-height: 1.5;
}

strong {
	font-weight: bold;
}

a {
	color: var(--purple);
}

.btn {
	font-family: var(--zilla);
	font-size: 1.5rem;
	color: var(--white);
	font-weight: 600;
	text-decoration: none;
	padding: 0.25rem 1rem;
	background: var(--purple);
	margin: 1em 0 0;
	display: block;
	text-align: center;
	transition: 0.1s all ease-out;
}

.hero-btn {
	background: var(--white);
	width: auto;
	color: var(--black);
	padding: 0.5rem 1.5rem;
	display: inline-block;
	font-family: var(--zilla);
	font-weight: bold;
	transition: 0.2s background ease-out;
}

.hero-btn.btn-reverse:hover {
	background: var(--purple);
}

.hero-btn.btn-reverse {
	color: var(--white);
	background: var(--black);
}

.btn:hover, .hero-btn:hover {
	background: var(--pink);
}

.btn.disabled {
	background: none;
	border: 1px solid var(--gray);
	color: var(--gray);
	cursor: not-allowed;
}

/* Utility */
.mw-800 {
	max-width: 800px;
}

.upper {
	text-transform: uppercase;
}

.mt-0 {
	margin-top: 0 !important;
}

/* Header */
header {
	padding-top: calc(var(--spacing) * 1.5);
	padding-bottom: calc(var(--spacing) * .5);
	background: var(--black);
	color: var(--white);
}

header h1 {
	font-size: 4rem;
	line-height: 1.1em;
}

.hero h1 {
	margin-bottom: 1rem;
}

.hero p {
	margin: 0;
	padding: 0 0 1.5rem;
}

.hero a {
	color: var(--white);
	text-decoration: underline;
	transition: color 0.1s ease-out;
}

.hero a:hover {
	color: var(--pink);
}

.mission-buttons {
	display: flex;
}

.mission-buttons .hero-btn {
	padding: 0.5em 3em;
	text-decoration: none;
}

.mission-buttons .hero-btn:first-child {
	margin-right: 2rem;
}

.social img {
	max-height: 1rem;
	display: inline-block;
	line-height: 0.9rem;
	margin: 0 0 0 0.25rem;
}

/* Navigation */
.nav-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-bar img {
	max-width: 220px;
}

.nav-bar ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-bar ul li a {
	font-family: var(--zilla);
	font-size: 1.5rem;
	color: var(--white);
	font-weight: 600;
	margin-left: 1rem;
	text-decoration: none;
	padding: 0.25rem 1rem;
}

.nav-bar a:hover {
	text-decoration: underline;
}

.nav-bar ul li:first-child a {
	margin-left: 0;
}

.nav-bar ul li:last-child a {
	color: var(--purple);
	background: var(--white);
}

/* Basic Layout */
.content {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-bottom: calc(var(--spacing) * 1.5);
	display: flex;
	flex-direction: row;
	max-width: 1240px;
	margin: 0 auto;
	flex-wrap: wrap;
}

section.inverse {
	background: var(--black);
	color: var(--white);
}

section {
	width: 100%;
}

section h1 {
	margin: 0 0 2rem;
	padding: 0;
	font-size: 2.5rem;
	line-height: 1.1;
}

section ul, .list {
	margin-bottom: 0;
	padding-left: 20px;
}

section ol, section ul {
	padding-left: 24px;
	margin-top: 32px;
}

section ol li, section ul li, .list li {
	padding: 0 0 2rem;
	line-height: 1.5;
}

section h2 {
	font-size: 2.5rem;
	line-height: 1em;
}

.smaller-page {
	max-width: 980px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1240px;
	padding-left: var(--spacing);
	padding-right: var(--spacing);
}

main {
	color: var(--black);
	font-size: 1.1rem;
}

/* Programs */
#programs {
	padding-bottom: 1em;
}

#program .wrappy {
	padding-bottom: 1em;
}

#programs ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 2rem 0 0;
	padding: 0;
	justify-content: space-between;
}

#programs ul li {
	flex: 1 1 calc(25%);
	flex-direction: column;
	max-width: 270px;
}

#programs ul li:nth-child(2) {
	margin: 0 1em;
}

.program-list-item {
	min-height: 300px;
	display: flex;
	flex-direction: column;
}

.program-list-item p {
	margin: 0 0 0.5rem;
	padding: 0;
}

#programs .program-list-button-group {
	margin-top: auto;
}

#programs .program-list-button-group small {
	line-height: 1.1em;
	display: block;
}

#programs h2 {
	margin: 0 0 0.5rem;
}

#programs h2+p {
	margin: 0;
	padding: 0 0 1rem;
}

#programs h3 {
	font-size: 1.75rem;
	line-height: 1.1em;
	margin: 0 0 0.5rem;
}

/* Testimonials */

#testimonials {
	padding-bottom: calc(var(--spacing) * 1.5);
}

/* Mentors */
#mentors {
	margin: 0;
	font-size: 1.1rem;
	padding-top: calc(var(--spacing) * 1.5);
	padding-bottom: calc(var(--spacing) * 1.5);
}

#mentors #mentor-list {
	margin: 0 -1em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 100%;
}

#mentors a {
	color: var(--white);
}

#mentors #mentor-list .mentor {
	margin-left: 1rem;
	margin-right: 1rem;
	max-width: 100%;
	flex: 1 1 calc(25% - 2rem);
	padding-bottom: calc(var(--spacing) * 1.5);
}

.mentor-profile {
	margin-bottom: 1rem;
}

.mentor-description {
	position: relative;
	overflow: hidden;
}

.mentor-description p {
	margin: 0 0 2em;
	padding: 0 0 0;
}

.mentor-description span {
	display: inline;
}

.mentor-description label {
	display: block;
	text-decoration: underline;
}

.mentor-description input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.mentor-description .tab-content {
	max-height: 0;
	/* transition: all 0.5 ease-out; */
	overflow: hidden;
	display: inline-block;
}

.mentor-description input:checked~.tab-content {
	max-height: 100vh;
	display: inline;
	overflow: visible;
}

.mentor-description input:checked~label {
	position: absolute;
	bottom: 0em;
}

.mentor-description input:checked~span {
	display: none;
}

#mentors #mentor-list .mentor img {
	width: 100%;
}

#mentors #mentor-list h4 {
	padding: 0;
	margin: 0;
	font-size: 2rem;
	font-weight: bold;
	font-family: var(--zilla);
}

#mentors #mentor-list h4 a {
	color: var(--white);
	font-weight: bold;
	text-decoration: none;
}

/* FAQs */
.faqs .wrapper {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-top: calc(var(--spacing) * 1.5);
	padding-bottom: calc(var(--spacing) * 1.5);
	display: flex;
	flex-direction: row;
	max-width: 1240px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.faqs .col-left {
	flex: 0.33;
	position: relative;
}

.faqs .col-right {
	flex: 0.67;
	padding-left: 3rem;
}

.toc {
	list-style: none;
	margin: 0;
	padding: 0 0 0;
}

.toc li {
	display: block;
	padding: 0 0 0.5rem;
}

.toc a {
	color: var(--black);
	text-decoration: none;
}

.toc a:hover {
	color: var(--purple);
}

.text-h5, .faq-article-title {
	margin: 0;
	padding: 0 0 0.5rem;
	line-height: 1.1em;
	font-size: 1.75rem;
	font-weight: bold;
	font-family: var(--zilla);
}

.faq-articles article {
	margin: 0 0 2rem;
}

.faq-articles article p {
	padding: 0 0 1rem;
	margin: 0;
}

article ul li {
	margin: 0;
	padding: 0 0 0.5rem;
}

article ol, article ul {
	margin-bottom: 0;
	padding-bottom: 0.5rem;
}

article ol li {
	margin: 0;
	padding: 0 0 1rem;
}

article ol ol {
	margin-top: 0.5rem;
}

article ol ol li {
	padding: 0 0 0.5rem
}

#faq {
	margin: 0;
	font-size: 1.1rem;
	flex-direction: column;
}

#faq ul {
	list-style-type: none;
	padding: 0;
}

#faq .answer li {
	margin: 0;
	padding: 0;
}

#faq .answer ul {
	margin: 0;
	padding: 0;
	list-style-type: circle;
	padding-left: 2.2rem;
	padding-bottom: 0rem;
}

#faq .answer ul li {
	padding-bottom: 1rem;
}

#faq ul li p.question {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0;
	margin-bottom: 1rem;
	margin-top: 0.6rem;
}

#faq ul li #answer p {
	padding-bottom: 1rem;
}

#faq ul li p.question:before {
	content: '▸';
	margin-right: 0.6rem;
}

/* About */
#about .wrapper {
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	padding-top: calc(var(--spacing) * 1.5);
	padding-bottom: calc(var(--spacing) * 1.5);
	display: flex;
	flex-direction: row;
	max-width: 1240px;
	margin: 0 auto;
	flex-wrap: wrap;
}

#about .wrapper {
	padding-top: 0;
	align-items: center;
}

#about .col-left {
	flex: 0.75;
	padding-right: 3rem;
}

#about .col-right {
	flex: 0.25;
}

#about .col-right img {
	max-width: 320px;
	padding-top: 2rem;
}

.sticky {
	position: fixed;
	max-width: 20rem;
}

#sticky.bottom {
	position: absolute;
	bottom: 0;
}

.list a {
	color: var(--blue);
}

.list a:visited {
	color: #582ACB;
}

/* Forms */
.form {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 2rem;
}

.form img {
	display: block;
	max-width: 40%;
	margin: 0 0 1rem;
	align-self: flex-start;
}

.form>div {
	max-width: 60%;
}

.form>div h2 {
	margin: 0 0 0.5rem;
	padding: 0;
	line-height: 1.2;
	font-size: 2rem;
}

/* Footer */
.footer-top {
	padding: var(--padding);
	background: var(--black);
	text-align: center;
	color: var(--white);
}

.footer-top img {
	max-width: 50px;
}

.footer-top h2 {
	font-size: 2.5rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

.footer-top h2 small {
	display: block;
	font-family: 'intermedium', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.footer-top.footer-white {
	background: var(--white);
	color: var(--purple);
}

.footer-black {
	background: #000;
	padding: 24px 2em;
	font-size: 0.75rem;
}

.footer-logo {
	margin: 1rem auto 2rem;
}

.moz-logo {
	display: block;
	max-width: 100px;
}

.footer-black a, .footer-black a:visited {
	color: var(--white);
}

.highlight {
	list-style-position: inside;
	text-indent: -1em;
	padding: 1rem;
	padding-left: 2rem;
	margin-bottom: 1rem;
	margin-left: -2rem;
	background: var(--color-highlight);
}

@media only screen and (max-width: 1024px) {
	section h2 {
		font-size: 2.5rem;
	}

	header h1 {
		font-size: 3rem;
		line-height: 1.1em;
	}

	.faqs .col-left {
		flex: 0.2;
	}

	.faqs .col-right {
		flex: 0.8;
		padding-left: 2rem;
	}

	#mentors #mentor-list .mentor {
		flex: 1 1 calc(50% - 2rem);
	}
}

@media only screen and (max-width: 860px) {
	.content {
		flex-direction: column;
		width: 100%;
	}

	#mentors #mentor-list .mentor img {
		max-width: 400px;
	}

	.faqs .wrapper, #about .wrapper {
		display: block;
	}

	.sticky {
		position: relative;
	}

	#sticky.bottom {
		position: relative;
		bottom: auto;
	}

	#about .col-left {
		padding-right: 0;
	}

	.faqs .col-left {
		padding-bottom: 2rem;
	}

	.faqs .col-right {
		padding-left: 0;
	}

	#about .col-right img {
		margin: 0 auto;
		display: block;
		padding-top: 0;
		max-width: 400px;
		width: 100%;
		padding-right: var(--spacing);
	}

	#programs ul {
		display: block;
	}

	#programs ul li, #programs ul li:nth-child(2) {
		margin-bottom: 1rem;
		max-width: 100%;
	}

	#programs ul li:nth-child(2) {
		margin-left: 0;
		margin-right: 0;
	}

	.program-list-item {
		min-height: auto;
	}

	.program-list-item .btn {
		max-width: 300px;
	}

	aside {
		flex: 1;
		border-top: 1px solid black;
		margin-top: 2rem;
		padding-top: 1rem;
	}

	#faq {
		width: 100%;
	}

	.nav-bar img {
		max-width: 180px;
	}

	.nav-bar ul li a {
		font-size: 1.25rem;
		margin-left: 0;
	}
}

@media only screen and (max-width: 700px) {
	.desktop-only {
		display: none;
	}


	.nav-bar ul li a {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 599px) {

	header h1 {
		font-size: 2.25rem;
		line-height: 1.1em;
	}

	.nav-bar img {
		max-width: 220px;
	}

	.nav-bar ul li a {
		font-size: 1rem;
	}

	.mission-buttons {
		display: block;
	}

	.mission-buttons .hero-btn:first-child {
		margin-bottom: 1rem;
		margin-right: 0;
	}

	.mission-buttons .hero-btn {
		display: block;
		text-align: center;
	}

	#mentors #mentor-list .mentor {
		flex-direction: column;
	}

	#mentors #mentor-list {
		margin: 0;
	}

	#mentors #mentor-list .mentor {
		flex: 1 1 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.mentor-description {
		padding-left: 0;
	}

	.nav-bar {
		display: block;
	}

	.nav-bar ul {
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		max-width: 500px;
	}

	.nav-bar ul li:first-child a {
		padding-left: 0;
	}

	.form {
		display: block;
	}

	.form>div {
		max-width: 100%;
		padding: 1rem 0;
		margin: 0 auto;
	}

	.form img {
		margin: 0 auto 1rem;
		max-width: 100%;
	}

	section h1, footer h2 {
		font-size: 2rem;
	}

	.form>div h2 {
		font-size: 1.8rem;
	}
}
