* {
	box-sizing: border-box;
}

body {
	--spacing: calc(1% + 1rem);
	--padding: calc(var(--spacing) * 1.5) var(--spacing);

	--purple: #20123a;
	--white: #fff;
	--black: #000000;
	--blue: #0060df;
	--color-green-20: #b3ffe3;

	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 18px;
	width: 100%;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	background: var(--purple);
}

h1, h2 {
	font-family: "Zilla Slab", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	padding: var(--padding);
	background-color: var(--white);
	color: var(--black);
}

section {
	margin: 0 auto;
	max-width: 768px;
}

section h1 {
	margin: 0 0 2rem;
	padding: 0;
	font-size: 2.5rem;
	line-height: 1.1;
}

p {
	line-height: 1.5;
}

strong {
	font-weight: bold;
}

section ul {
	margin-bottom: 0;
}

section ul li {
	padding: 0 0 1.5rem;
	line-height: 1.5;
}

.studio-details {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 1rem;
}

.studio-details > h3::after {
	content: ':';
}

footer {
	padding: var(--padding);
	background: var(--purple);
	text-align: center;
	color: var(--white);
}

footer img {
	max-width: 50px;
}

footer h2 {
	font-size: 2.5rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

footer h2 small {
	display: block;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.upper {
	text-transform: uppercase;
}

.highlight {
	list-style-position: inside;
	text-indent: -1em;
	padding: 0.75rem;
	padding-left: 2.25rem;
	margin-bottom: 0.75rem;
	margin-left: -1.75rem;
	background: var(--color-green-20);
}

@media only screen and (max-width: 599px) {
	section h1, footer h2 {
		font-size: 2rem;
	}

	.studio-details {
		grid-template-columns: 1fr;
	}

	.studio-details > h3 {
		margin-bottom: 0;
	}
}
